Repository toeverything/OctoBase, pull requests merged in 2023-05, with the labels that each got.

#417 feat: pull down workspace observation of webhook
  apps/keck/src/server/api/blobs.rs
  apps/keck/src/server/api/blocks/block.rs
  apps/keck/src/server/api/blocks/mod.rs
  apps/keck/src/server/api/blocks/schema.rs
  apps/keck/src/server/api/blocks/workspace.rs
  apps/keck/src/server/api/doc.rs
  apps/keck/src/server/api/mod.rs
  apps/keck/src/server/mod.rs
  apps/keck/src/server/subscribe.rs
  apps/keck/src/server/sync/blobs.rs
  apps/keck/src/server/sync/collaboration.rs
  libs/jwst-binding/jwst-jni/src/block_observer.rs
  libs/jwst-binding/jwst-jni/src/lib.rs
  libs/jwst-binding/jwst-jni/src/storage.rs
  libs/jwst-binding/jwst-jni/src/workspace.rs
  libs/jwst-binding/jwst-swift/src/storage.rs
  libs/jwst-codec/src/codec/buffer.rs
  libs/jwst-codec/src/codec/mod.rs
  libs/jwst-codec/src/codec/string.rs
  libs/jwst-rpc/src/broadcast.rs
  libs/jwst-rpc/src/utils.rs
  libs/jwst-storage/src/storage/mod.rs
  libs/jwst/src/workspace/block_observer.rs
  libs/jwst/src/workspace/sync.rs
  libs/jwst/src/workspace/workspace.rs
Labels: feat, mod:server

#412 port sync protocol
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  libs/jwst-codec/Cargo.toml
  libs/jwst-codec/fuzz/Cargo.toml
  libs/jwst-codec/fuzz/fuzz_targets/decode_bytes.rs
  libs/jwst-codec/fuzz/fuzz_targets/sync_message.rs
  libs/jwst-codec/src/codec/buffer.rs
  libs/jwst-codec/src/codec/integer.rs
  libs/jwst-codec/src/codec/mod.rs
  libs/jwst-codec/src/codec/string.rs
  libs/jwst-codec/src/doc/codec/any.rs
  libs/jwst-codec/src/doc/document.rs
  libs/jwst-codec/src/lib.rs
  libs/jwst-codec/src/protocol/awareness.rs
  libs/jwst-codec/src/protocol/doc.rs
  libs/jwst-codec/src/protocol/mod.rs
  libs/jwst-codec/src/protocol/scanner.rs
  libs/jwst-codec/src/protocol/sync.rs
  libs/jwst-codec/src/protocol/utils.rs
  libs/jwst-rpc/Cargo.toml
  libs/jwst-rpc/src/broadcast.rs
  libs/jwst-rpc/src/client.rs
  libs/jwst-rpc/src/connector/memory.rs
  libs/jwst-rpc/src/handler.rs
  libs/jwst-rpc/src/lib.rs
  libs/jwst-rpc/src/types.rs
  libs/jwst/Cargo.toml
  libs/jwst/build.rs
  libs/jwst/src/types/error.rs
  libs/jwst/src/workspace/block_observer.rs
  libs/jwst/src/workspace/sync.rs
Labels: feat, mod:sync, Refactor

#416 feat: octobase editor synchronization playground
  .github/workflows/jwst.yml
  apps/playground/index.html
  apps/playground/package.json
  apps/playground/pnpm-lock.yaml
  apps/playground/src/App.css
  apps/playground/src/App.tsx
  apps/playground/src/components/Editor.tsx
  apps/playground/src/components/EditorLoader.tsx
  apps/playground/src/index.css
  apps/playground/src/main.tsx
  apps/playground/src/vite-env.d.ts
  apps/playground/tsconfig.json
  apps/playground/tsconfig.node.json
  apps/playground/vite.config.ts
  pnpm-lock.yaml
Labels: feat

#430 feat: finish apply update implementation
  libs/jwst-codec/src/doc/codec/content.rs
  libs/jwst-codec/src/doc/codec/delete.rs
  libs/jwst-codec/src/doc/codec/delete_set.rs
  libs/jwst-codec/src/doc/codec/id.rs
  libs/jwst-codec/src/doc/codec/item.rs
  libs/jwst-codec/src/doc/codec/mod.rs
  libs/jwst-codec/src/doc/codec/refs.rs
  libs/jwst-codec/src/doc/codec/update.rs
  libs/jwst-codec/src/doc/common/mod.rs
  libs/jwst-codec/src/doc/common/range.rs
  libs/jwst-codec/src/doc/common/state.rs
  libs/jwst-codec/src/doc/document.rs
  libs/jwst-codec/src/doc/mod.rs
  libs/jwst-codec/src/doc/store.rs
  libs/jwst-codec/src/doc/types/mod.rs
  libs/jwst-codec/src/doc/types/traits.rs
  libs/jwst-codec/src/lib.rs
Labels: feat
